* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Open Sans", sans-serif;
}

.container {
  width: 50%;
  margin: 60px auto 20px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  align-content: center;
  flex-direction: column;
  border: 1px solid #2b2b2b;
  padding: 10px 20px;
  color: #c0c0c0;
  border-radius: 8px;
}
.containerTasks {
  width: 50%;
  margin: 10px auto 60px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  align-content: center;
  flex-direction: column;
  padding: 10px 20px;
  color: #c0c0c0;
  border-radius: 5px;
  background: radial-gradient(#ffffff26, #2b2b2b2e);
  position: relative;
}
form {
  margin: 10px auto;
  width: 100%;
  text-align: center;
  background: #2b2b2b;
  padding: 15px;
  font-size: 25px;
  box-shadow: 0px 0px 0px 3px #0000000a;
  border-radius: 5px;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}
input {
  padding: 10px 15px;
  font-size: 16px;
  letter-spacing: 1px;
  border: none;
  margin: auto 15px;
  background: #1c1c1c;
  color: #c0c0c0;
  border-radius: 5px;
  box-shadow: 0px 0px 5px 0px #000;
}
input:focus {
  outline: none;
}
.typeTask {
  text-align: start;
  width: 68%;
}
.addTask {
  width: fit-content;
  cursor: pointer;
  background: linear-gradient(45deg, #181818, #3f3f3fa6);
  color: #f85b40;
  box-shadow: 0px 0px 5px 0px;
  font-weight: bold;
  font-size: 16px;
  letter-spacing: 1px;
  margin: auto;
}
.addTask:hover {
  transition: 0.5s;
  transform: translate3d(0px, -3px, 5px);
  box-shadow: 0px 5px 8px 0px;
}
.newTask {
  background-color: #2b2b2b;
  width: 100%;
  padding: 15px 10px;
  border-radius: 5px;
  margin: 10px auto;
  display: flex;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 5px 0px #00000057;
}
.newTask:hover {
  cursor: unset;
}

.taskContent {
  overflow-wrap: anywhere;
  width: 70%;
  background-color: #2b2b2b;
  box-shadow: none;
  font-size: 18px;
  font-weight: bold;
  padding: 0;
}
.active {
  background-color: #475a55;
  transition: 1s;
}

.delet,
.done {
  width: 100px;
  padding: 10px 5px;
  text-align: center;
  cursor: pointer;
  background: linear-gradient(45deg, #181818, #3f3f3fa6);
  color: #ff361fc9;
  box-shadow: 0px 0px 5px 0px #000;
  font-weight: bold;
  font-size: 16px;
  border-radius: 5px;
  letter-spacing: 1.5px;
  margin: auto 10px;
}

.done {
  background: linear-gradient(45deg, #181818, #3f3f3fa6);
  color: #bc9c76c7;
}
.clearAll {
  width: fit-content;
  padding: 10px 5px;
  text-align: center;
  cursor: pointer;
  background: linear-gradient(45deg, #181818, #3f3f3fa6);
  color: #ff361fc9;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.372);
  font-weight: bold;
  font-size: 16px;
  border-radius: 5px;
  letter-spacing: 1.5px;
  margin: auto;
  position: absolute;
  bottom: -40px;
  display: none;
}

.delet:hover,
.done:hover,
.clearAll:hover {
  transition: 0.5s;
  transform: translate3d(0px, -2px, 5px, 5px);
  box-shadow: 0px 5px 8px 0px #000;
}

@media (max-width: 768px) {
  .container {
    margin-top: 20px !important;
    margin-bottom: 5px !important;
    padding: 5px 15px;
  }
  .container,
  .containerTasks {
    width: 93%;
  }
  .containerTasks {
    flex-wrap: wrap;
    padding: 5px 10px;
  }

  .newTask {
    padding: 10px 5px;
  }
  .typeTask {
    width: 100%;
    font-size: 13px;
  }
  .addTask {
    width: 100%;
    margin-top: 15px;
    font-size: 13px;
  }
  .taskContent {
    font-size: 16px;
  }
  .done,
  .delet {
    padding: 8px 0;
    font-size: 12px;
    margin: 0 5px;
  }
  .clearAll {
    font-size: 13px;
  }
}

@media (max-width: 1024px) {
  .container,
  .containerTasks {
    width: 90%;
  }
  .typeTask {
    margin: auto;
  }
}
